
.package_card{
    border-radius: 10px;
    box-shadow: 3px 3px 5px 4px rgba(136, 135, 138, 0.46);
    height: 560px;
    /* background-color:#1E2025; */
}
.package_card:hover{
    transform: scale(1.03);
    transition: transform .7s, opacity .4s;
    box-shadow: 4px 4px 7px rgb(71, 209, 195);
}
/* img:hover{
    transform: scale(0.9);
    transition: transform .6s, opacity .3s;
} */

.package_btn{
  height: 50px;
  border: none;
  border-radius: 20px;
  border: 1px solid rgba(94, 85, 138, 0.466);
  background-image: linear-gradient(rgba(152, 79, 165, 0.856),rgba(61, 59, 122, 0.911));
  color: white;
}

.package_btn:hover{
    color: black;
    background-color: rgb(130, 0, 54);
    box-shadow: 10px 10px 20px rgb(106, 100, 100);
}